doctype html
html
    include includes/head.pug
    body.logged_in
        div.error_msg_box#errorMsg
            div.error_msg(v-for="(message, index) in messages" v-cloak)
                transition(name='error_msg')
                    p {{ message }}
        header
            h1= header
            h3= displayName
            h4
                a(href='/settings') settings
            h4
                a(href='/logout')  logout
        aside
            div#chatList
                div.title-box
                    h3 Friends
                    i.material-icons(v-on:click='addUserToggled = !addUserToggled') add
                    form.add-friend-form(onsubmit="return false" v-on:submit="sendFriendRequest" v-show='addUserToggled' v-cloak)
                        input(type="text" v-model="friend" placeholder="username" ref="email")
                        input(type="submit" value="add")
                ul
                    li(v-for="(friend, index) in friends" v-cloak)
                        div.item-content(v-bind:class="{ active: currRoom == friend.id}")
                            span(v-on:click='selectDm(index)' v-cloak) {{ friend.displayName }}
                            span
                                span(v-show='!friend.haveNoticedMsgs' v-cloak) {{ friend.unNoticedMsgs }}
                                i.material-icons.user-settings-icon(v-on:click='toggleMenu(index,true)' v-cloak) keyboard_arrow_up
                        transition(name='friend-menu-toggle')
                            div.friend-menu.dropdown-menu(v-show='friend.dropDownToggled')
                                p {{ friend.name }}
                                button(v-on:click='removeFriend(index)') remove
                div.title-box
                    h3 Rooms
                    i.material-icons(v-on:click='roomMenuToggled = !roomMenuToggled') add
                    div.roomMenu(v-show='roomMenuToggled' v-cloak)
                        h4 join room
                        form(onsubmit='return false' v-on:submit='joinRoom')
                            input(type='text' v-model='joinRoomInput' placeholder='Room name')
                            input(type='submit' value='Join Room')
                        h4 create room
                        form(onsubmit='return false' v-on:submit='createRoom')
                            input(type='text' v-model='createRoomInput' placeholder='Room name')
                            input(type='submit' value='Create Room')
                ul
                    li(v-for="(room, index) in rooms")
                        div.item-content(v-bind:class="{ active: currRoom == room.name}")
                            span(v-on:click='selectChat(index)' v-cloak) {{ room.name }}
                            span
                                span(v-show='!room.haveNoticedMsgs' v-cloak) {{ room.unNoticedMsgs }}
                                i.material-icons.user-settings-icon(v-on:click='toggleMenu(index,false)' v-cloak) keyboard_arrow_up
                        transition(name='room-menu-toggle')
                            div.room-menu.dropdown-menu(v-show='room.dropDownToggled')
                                p Users online: 3
                                //button(v-on:click='getInviteLink(index)') copy invite link
                                button(v-on:click='showInviteLink(index)') show invite link
                                button(v-on:click='leaveRoom(room[0])') Leave Room
            div#friend_requests
                h3(v-bind:class="{'hidden': frh(ifr)}") Friend requests
                ul
                    li(v-for="(request,index) in ifr")
                        span {{ request }}
                        button(v-on:click='confirmFriendRequest(index)') add
                h3(v-bind:class="{'hidden': frh(sfr)}") Pending friend requests
                ul
                    li(v-for="(request,index) in sfr")
                        span {{ request }}
                        button(v-on:click="cfr(index)") cancel
        section.chatWindow
            div#chatMessages.chatMessages
                    div(v-for="(message, index) in messages" :class='message[1]' class="message" v-cloak)
                        img(v-bind:src="imgSrc(message[2])" alt="Profile Picture" :class='message[1]')
                        span {{ message[0] }}
            form(id="messageForm" onsubmit="return false" v-on:submit="sendMessage" class="chat_input_form")
                input(type="text" v-model="message" class="text_input" autofocus)
                input(type="submit" value="send" class="button")
        include includes/bottom.pug
