doctype html
html
    include includes/head.pug
    body
        h1= header
        h2 login
        form(method='post' action='login')
            label Username: 
            input(type='text' name='username' required autofocus)
            br
            label Password: 
            input(type='password' name='password' required)
            br
            input(type='submit' value='login')
        h2 signup
        form(method='post' action='signup')
            label Username: 
            input(type='text' name='username' required)
            br
            label Password: 
            input(type='password' name='password' required)
            br
            input(type='submit' value='signup')
        include includes/bottom.pug
