doctype html
html
    include includes/head.pug
    body
        header.header
            h1 Settings
            h3(v-cloak)
                span {{ displayName }} 
                span ({{ username }})
            h4
                a(href='/') go back
            h4
                a(href='/logout') logout
        article.settings
            form(onsubmit='return false;' v-on:submit='changeDisplayName')
                span Display name: 
                    input(type='text' placeholder=username v-model='newDisplayName')
                input(type='submit' value='change')
            h3 Remove Account
                form(method='post' action='/removeAccount')
                    input(type='submit' value='Remove')
            h3 Change profile picture:
            div.profile_picture_container
                span.pp(v-for='(image,index) in profile_pictures')
                    img(:src='image' alt='profile picture' v-bind:class='{selectedpp:profile_picture_index == index}' v-on:click='changeProfilePicture(index)')
                    img(v-if='index != 0' src='pub_files/icons/ic_delete_black_24dp_1x.png' class='icon' v-on:click='deleteProfilePicture(image)')
            h3 Upload new picture
            div(v-if='!image')
                input(type='file' @change='onFileChange')
            div(v-else)
                img(:src="image" id='croppImage')
                button(v-on:click='uploadPicture') upload
                button(v-on:click='removeImage') cancel
    include includes/bottom.pug
